body { background: #f0f2f5; }

.check-item {
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

textarea {
  resize: none;
}
